In [34]:
import os
import sys

import numpy as np
import pandas as pd

from datetime import datetime
from statsmodels.tsa.arima_model import ARMA

In [35]:

arma_dates_event = {

    'forecastHorizon':5,
    'trainDFLength':252,
    'order':(2,2),
    'num_models':13000,
    'dataframe':r'C:\Users\James Stanley\Documents\GitHub\backtest_utilities\approved_strategies\corn_arma_ma\data\CBOT_DL_ZC1!, 1D.csv',
    'diff_dataframe':r'',
}


import boto3
lambda_client = boto3.client('lambda')
lambda_payload = {"name:"name","age":"age"}
lambda_client.invoke(FunctionName='myfunctionname', 
                    InvocationType='Event',
                    Payload=lambda_payload)

# Identify dataframe - get dates we want to push to aws

In [37]:
def cacheArmaDates(arma_dates_event):

    # reading in dataframe     
    arma_df = pd.read_csv(single_arma_event['dataframe'],parse_dates=True)

    # saving desired output

    # cacheing start and end date for results
    i = 0
    while i < single_arma_event['num_models']:

        cacheDatesArmaLambda = {

        'start_date':[],
        'end_date':[],

        }

        cacheDatesArmaLambda['start_date'].append(arma_df['time'][i])
        cacheDatesArmaLambda['end_date'].append(arma_df['time'][single_arma_event['trainDFLength']+i])

        i+=single_arma_event['forecastHorizon']

In [ ]:
# aws lambda list-functions --region us-east-1 --> Get number of lambda functions in python

In [40]:
def cacheArmaDates(dates_event):

    """
        Description:

        :param dates_event: 
    """


    import boto3
    lambda_client = boto3.client('lambda')
    lambda_payload = {"name:"name","age":"age"}

    # reading in dataframe     
    arma_df = pd.read_csv(single_arma_event['dataframe'],parse_dates=True)

    # cacheing start and end date for results
    i = 0
    while i < single_arma_event['num_models']:

        # saving desired output
        cacheDatesPayload = {

        'start_date':None,
        'end_date':None,
        'diff_df':dates_event['diff_df'],

        }

        cacheDatesArmaLambda['start_date'] = arma_df['time'][i]
        cacheDatesArmaLambda['end_date'] = arma_df['time'][single_arma_event['trainDFLength']+i]

        # save the events as an artifact in S3
        lambda_client.invoke(FunctionName=arma_dates_event['event_promotion'], 
                            InvocationType='Event',
                            Payload=cacheDatesPayload)

        i+=single_arma_event['forecastHorizon']

    # save this as an artifact
    arma_dates = pd.DataFrame(cacheDatesArmaLambda)

# Train single arma model

In [50]:
arma_train_df = pd.read_csv(r'C:\Users\James Stanley\Documents\GitHub\backtest_utilities\approved_strategies\corn_arma_ma\data\CBOT_DL_ZC1!, 1D.csv',parse_dates=True)

In [53]:
train_df = arma_train_df[(arma_train_df['time'] > arma_dates['start_date'][0]) & (arma_train_df['time'] < arma_dates['end_date'][0])]

,time,open,high,low,close,Commercials long,Commercials short,Commercials net,Large Speculators long,Large Speculators short,...,OI,Commercials long.1,Commercials short.1,Commercials net.1,Large Speculators long.1,Large Speculators short.1,Large Speculators net.1,Small Speculators long.1,Small Speculators short.1,Small Speculators net.1
1,1970-01-06T01:00:00Z,120.500,120.750,120.125,120.625,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1970-01-07T01:00:00Z,121.000,121.250,120.750,121.125,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1970-01-08T01:00:00Z,121.500,121.875,121.250,121.750,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1970-01-09T01:00:00Z,121.500,121.500,120.875,120.875,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1970-01-12T01:00:00Z,120.750,121.500,120.375,121.250,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,1970-12-28T01:00:00Z,156.250,156.875,155.750,155.875,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,1970-12-29T01:00:00Z,155.875,156.125,155.375,155.625,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,1970-12-30T01:00:00Z,155.500,155.500,154.625,155.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,1970-12-31T01:00:00Z,154.750,155.500,154.625,155.500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,1971-01-04T01:00:00Z,156.250,157.125,155.750,156.875,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
mod = ARMA(train_df['close'], order=(2,2))
res = mod.fit()